In [67]:
# 데이터 로딩
import numpy as np
import pandas as pd
import torch
import torch.nn

In [68]:
# 데이터 로딩 => 데이터프레임
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'
column_names = ['MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight',
                'Acceleration', 'Model Year', 'Origin']


df = pd.read_csv(url, names=column_names,
                 na_values = "?", comment='\t',
                 sep=" ", skipinitialspace=True)


df.tail()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
393,27.0,4,140.0,86.0,2790.0,15.6,82,1
394,44.0,4,97.0,52.0,2130.0,24.6,82,2
395,32.0,4,135.0,84.0,2295.0,11.6,82,1
396,28.0,4,120.0,79.0,2625.0,18.6,82,1
397,31.0,4,119.0,82.0,2720.0,19.4,82,1

In [69]:
# Nan값처리
# 확인
# df.head()
df.isna().sum()
df[df['Horsepower'].isna()]

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
32,25.0,4,98.0,NaN,2046.0,19.0,71,1
126,21.0,6,200.0,NaN,2875.0,17.0,74,1
330,40.9,4,85.0,NaN,1835.0,17.3,80,2
336,23.6,4,140.0,NaN,2905.0,14.3,80,1
354,34.5,4,100.0,NaN,2320.0,15.8,81,2
374,23.0,4,151.0,NaN,3035.0,20.5,82,1

In [70]:
# df=df.dropna(axis=0)
df=df.dropna()
df[df['Horsepower'].isna()]

Empty DataFrame
Columns: [MPG, Cylinders, Displacement, Horsepower, Weight, Acceleration, Model Year, Origin]
Index: []

In [71]:
#  인덱스 연속값으로 재설정 
df=df.reset_index(drop=True)

In [72]:
# 학습 / 테스트 분리 
from sklearn.model_selection import train_test_split

df_train, df_test=train_test_split(
    df,
    train_size=0.8,
    random_state=1
)

In [73]:
# 학습데이터 기본 통계량 확인 
train_stats=df_train.describe().transpose() #mean 값 가지고 오기 
train_stats

,count,mean,std,min,25%,50%,75%,max
MPG,313.0,23.404153,7.666909,9.0,17.5,23.0,29.0,46.6
Cylinders,313.0,5.402556,1.701506,3.0,4.0,4.0,8.0,8.0
Displacement,313.0,189.512780,102.675646,68.0,104.0,140.0,260.0,455.0
Horsepower,313.0,102.929712,37.919046,46.0,75.0,92.0,120.0,230.0
Weight,313.0,2961.198083,848.602146,1613.0,2219.0,2755.0,3574.0,5140.0
Acceleration,313.0,15.704473,2.725399,8.5,14.0,15.5,17.3,24.8
Model Year,313.0,75.929712,3.675305,70.0,73.0,76.0,79.0,82.0
Origin,313.0,1.591054,0.807923,1.0,1.0,1.0,2.0,3.0

In [74]:
# 연속값을 가지고 있는 피처의 정규화
# cylinder => iloc 적용 
numeric_column_names = ['Cylinders', 'Displacement', 'Horsepower', 'Weight', 'Acceleration']


df_train_norm, df_test_norm = df_train.copy(), df_test.copy()


for col_name in numeric_column_names:
    mean = train_stats.loc[col_name, 'mean']
    std  = train_stats.loc[col_name, 'std']
    df_train_norm.loc[:, col_name] = (df_train_norm.loc[:, col_name] - mean)/std
    df_test_norm.loc[:, col_name] = (df_test_norm.loc[:, col_name] - mean)/std

C:\Users\jh\AppData\Local\Temp\ipykernel_27260\2329554364.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.8243028   0.3511267  -0.8243028  -0.8243028  -0.8243028   1.52655621
  0.3511267  -0.8243028  -0.8243028  -0.8243028   0.3511267  -0.8243028
  0.3511267   1.52655621  1.52655621  1.52655621  0.3511267   1.52655621
 -0.8243028   0.3511267   1.52655621 -0.8243028  -0.8243028   0.3511267
 -0.8243028  -0.8243028  -0.8243028   0.3511267  -0.8243028   1.52655621
  0.3511267  -0.8243028   0.3511267  -0.8243028  -0.8243028   1.52655621
 -0.8243028   1.52655621  1.52655621 -0.8243028  -0.8243028  -0.8243028
 -0.8243028   0.3511267  -0.8243028   1.52655621 -0.8243028  -0.8243028
  1.52655621 -0.8243028  -0.8243028  -0.8243028   1.52655621  1.52655621
  0.3511267   0.3511267   1.52655621 -0.8243028  -0.8243028   1.52655621
  1.52655621 -0.8243028  -0.8243028   0.3511267   1.52655621 -0.8243028
  0.3511267  -0.8243028   1.52655621  1.52655621 -0.8243028  -0.8243028
 -1.41201755  1.52655621  0.3511267   1.52655621 -0.8243028  -0.8243028
 -0.8243028   1.52655621  1.52655621  0.3511267   0.3511267   1.52655621
 -0.8243028   1.52655621 -0.23658805 -0.8243028  -0.8243028   0.3511267
  0.3511267  -1.41201755 -0.8243028   1.52655621 -0.8243028   1.52655621
 -0.8243028   1.52655621  0.3511267  -0.8243028   0.3511267  -1.41201755
  0.3511267  -0.8243028  -0.8243028  -0.8243028  -0.8243028  -0.8243028
 -0.8243028   1.52655621  1.52655621 -0.8243028   0.3511267  -0.8243028
 -0.8243028   0.3511267   1.52655621 -0.8243028  -0.8243028   0.3511267
  0.3511267  -0.8243028  -0.8243028  -0.23658805 -0.8243028   0.3511267
  0.3511267   0.3511267  -0.8243028   1.52655621  1.52655621 -0.8243028
  0.3511267   1.52655621  1.52655621 -0.8243028   0.3511267   0.3511267
 -0.8243028  -0.8243028  -0.8243028  -0.8243028   1.52655621 -0.8243028
 -0.8243028   0.3511267  -0.8243028  -0.8243028   1.52655621 -0.8243028
  1.52655621 -0.8243028  -0.8243028   1.52655621  1.52655621 -0.8243028
  0.3511267  -0.8243028   1.52655621  0.3511267  -0.8243028   1.52655621
 -0.8243028  -0.8243028   1.52655621  1.52655621 -0.8243028   1.52655621
  0.3511267  -0.8243028  -0.8243028   0.3511267   1.52655621  1.52655621
 -0.8243028  -0.8243028  -0.8243028  -0.8243028  -0.8243028  -0.8243028
 -0.8243028   1.52655621 -0.8243028   0.3511267   1.52655621 -0.8243028
 -0.23658805 -0.8243028  -0.8243028  -0.8243028  -0.8243028  -0.8243028
  0.3511267  -0.8243028  -0.8243028   1.52655621  1.52655621 -0.8243028
  1.52655621 -0.8243028   1.52655621 -0.8243028  -0.8243028  -0.8243028
 -0.8243028   0.3511267  -0.8243028   1.52655621 -0.8243028   0.3511267
  1.52655621 -0.8243028  -0.8243028  -0.8243028   0.3511267  -0.8243028
 -0.8243028  -0.8243028  -0.8243028   0.3511267  -0.8243028   1.52655621
 -0.8243028  -0.8243028  -0.8243028   1.52655621 -0.8243028   1.52655621
 -0.8243028   0.3511267  -0.8243028   0.3511267  -0.8243028  -0.8243028
  0.3511267   1.52655621 -0.8243028   0.3511267   1.52655621  0.3511267
 -0.8243028  -0.8243028  -0.8243028   1.52655621  1.52655621 -0.8243028
 -0.8243028  -0.8243028   1.52655621  0.3511267   0.3511267  -0.8243028
 -0.8243028  -0.8243028   1.52655621  0.3511267   0.3511267   0.3511267
  1.52655621 -0.8243028   1.52655621  0.3511267  -0.8243028  -0.8243028
 -0.8243028  -0.8243028   1.52655621 -0.8243028   1.52655621 -0.8243028
  1.52655621 -0.8243028  -0.8243028  -0.8243028  -0.8243028  -0.8243028
  1.52655621 -0.8243028  -0.8243028  -0.8243028   0.3511267  -0.8243028
  1.52655621 -0.8243028  -0.8243028  -0.8243028  -0.8243028   1.52655621
 -0.8243028   1.52655621 -0.8243028  -1.41201755 -0.8243028   1.52655621
 -0.8243028   1.52655621  0.3511267   0.3511267   0.3511267  -0.8243028
 -0.8243028   0.3511267  -0.8243028   1.52655621 -0.8243028  -0.8243028
 -0.8243028   0.3511267  -0.8243028   0.3511267   1.52655621 -0.8243028
  1.52655621]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_train_norm.loc[:, col_name] = (df_train_norm.loc[:, col_name] - mean)/std
C:\Users\jh\AppData\Local\Temp\ipykernel_27260\2329554364.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.8243028  -0.8243028  -0.8243028  -0.8243028  -0.8243028  -0.8243028
 -0.8243028   1.52655621 -0.8243028  -0.8243028   0.3511267  -0.8243028
  1.52655621 -0.8243028  -0.8243028   1.52655621 -0.8243028  -0.8243028
  1.52655621  0.3511267  -0.8243028   0.3511267   1.52655621  1.52655621
  1.52655621  1.52655621 -0.8243028   0.3511267   0.3511267  -0.8243028
  1.52655621 -0.8243028   1.52655621  0.3511267   0.3511267   1.52655621
  0.3511267   0.3511267  -0.8243028  -0.8243028   1.52655621  1.52655621
  0.3511267   0.3511267   0.3511267   0.3511267   1.52655621 -0.8243028
  0.3511267   1.52655621  1.52655621  0.3511267  -0.8243028  -0.8243028
 -0.8243028   0.3511267   0.3511267   0.3511267  -0.8243028  -0.8243028
  0.3511267  -0.8243028  -0.8243028   1.52655621  0.3511267   0.3511267
 -0.8243028   1.52655621 -0.8243028   1.52655621 -0.8243028   1.52655621
  1.52655621 -0.8243028  -0.8243028  -0.8243028   1.52655621  1.52655621
  1.52655621]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_test_norm.loc[:, col_name] = (df_test_norm.loc[:, col_name] - mean)/std

In [75]:
from sklearn.preprocessing import StandardScaler


numeric_column_names = ['Cylinders', 'Displacement', 'Horsepower', 'Weight', 'Acceleration']

numeric_column_names()
df_train_norm=()

TypeError: 'list' object is not callable

In [ ]:
df_train_norm.tail()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
203,28.0,-0.824303,-0.901020,-0.736562,-0.950031,0.255202,76,3
255,19.4,0.351127,0.413800,-0.340982,0.293190,0.548737,78,1
72,13.0,1.526556,1.144256,0.713897,1.339617,-0.625403,72,1
235,30.5,-0.824303,-0.891280,-1.053025,-1.072585,0.475353,77,1
37,14.0,1.526556,1.563051,1.636916,1.470420,-1.359240,71,1

In [ ]:
df_train.tail()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
203,28.0,4,97.0,75.0,2155.0,16.4,76,3
255,19.4,6,232.0,90.0,3210.0,17.2,78,1
72,13.0,8,307.0,130.0,4098.0,14.0,72,1
235,30.5,4,98.0,63.0,2051.0,17.0,77,1
37,14.0,8,350.0,165.0,4209.0,12.0,71,1

In [ ]:
boundaries = torch.tensor([73, 76, 79])


v = torch.tensor(df_train_norm['Model Year'].values)
df_train_norm['Model Year Bucketed'] = torch.bucketize(v, boundaries, right=True)


v = torch.tensor(df_test_norm['Model Year'].values)
df_test_norm['Model Year Bucketed'] = torch.bucketize(v, boundaries, right=True)


numeric_column_names.append('Model Year Bucketed')

In [ ]:
df_train_norm['Model Year Bucketed'].head()

334    3
258    2
139    1
310    3
349    3
Name: Model Year Bucketed, dtype: int64

In [ ]:
# df_train_norm['Origin'].unique() # array([1, 2, 3], dtype=int64)
# 토치에도 원핫 처리
from torch.nn.functional import one_hot

total_origin = len(set(df_train_norm['Origin']))


origin_encoded = one_hot(torch.from_numpy(df_train_norm['Origin'].values) % total_origin)
x_train_numeric = torch.tensor(df_train_norm[numeric_column_names].values)
x_train = torch.cat([x_train_numeric, origin_encoded], 1).float()


origin_encoded = one_hot(torch.from_numpy(df_test_norm['Origin'].values) % total_origin)
x_test_numeric = torch.tensor(df_test_norm[numeric_column_names].values)
x_test = torch.cat([x_test_numeric, origin_encoded], 1).float()

In [ ]:
# 데이터, 레이블 추출
y_train = torch.tensor(df_train_norm['MPG'].values).float()
y_test = torch.tensor(df_test_norm['MPG'].values).float()

In [ ]:
x_train

tensor([[-0.8243, -0.5309, -0.4992,  ...,  0.0000,  1.0000,  0.0000],
        [ 0.3511,  0.3456,  0.1865,  ...,  0.0000,  1.0000,  0.0000],
        [-0.8243, -0.8913, -0.5256,  ...,  0.0000,  0.0000,  1.0000],
        ...,
        [ 1.5266,  1.1443,  0.7139,  ...,  0.0000,  1.0000,  0.0000],
        [-0.8243, -0.8913, -1.0530,  ...,  0.0000,  1.0000,  0.0000],
        [ 1.5266,  1.5631,  1.6369,  ...,  0.0000,  1.0000,  0.0000]])

In [79]:
# 데이터셋 -> 데이터로더 생성 : 신경망 데이터 준비
from torch.utils.data import TensorDataset, DataLoader

train_ds=TensorDataset(x_train, y_train) # 학습데이터셋 생성
batch_size=8
torch.manual_seed(1)
train_dl=DataLoader(train_ds, batch_size, shuffle=True)

In [76]:
x_train.shape

torch.Size([313, 9])

In [80]:
# 신경망 구성 : forward까지 처리
# 히든층 구조 설명
# input 개수 설정
hidden_units=[8,4,2] # 2차원 : batch_size=8 -> 예측값은 batch_size에 의하여 결정
input_size=x_train.shape[1] # torch.Size([313, 9]) -> 9

all_layers=[]

for hidden_unit in hidden_units:
    layer=nn.Linear(input_size, hidden_unit) # (9,8)
    all_layers.append(layer)
    all_layers.append(nn.ReLU())
    input_size=hidden_unit # hidden_unit=8 -> input_size에 대입
    
all_layers.append(nn.Linear(hidden_units[-1],1))

model=nn.Sequential(*all_layers)
model

Sequential(
  (0): Linear(in_features=9, out_features=8, bias=True)
  (1): ReLU()
  (2): Linear(in_features=8, out_features=4, bias=True)
  (3): ReLU()
  (4): Linear(in_features=4, out_features=2, bias=True)
  (5): ReLU()
  (6): Linear(in_features=2, out_features=1, bias=True)
)

In [81]:
# 오차함수 정의, 옵티마이저 정의
loss_fn=nn.MSELoss()
optimizer=torch.optim.SGD(model.parameters(), lr=0.001) # lr : 학습율, optimizer : 오차 최소화

In [82]:
# 학습 : 반복
num_epochs=200
log_epochs=10 # log : 처리 결과를 화면에 출력

for epoch in range(num_epochs): # 200번 반복
    loss_hist_train=0
    for X_batch, y_batch in train_dl:
        # forward -> pred
        pred=model(X_batch)[:,0]
        loss=loss_fn(pred, y_batch)
        loss.backward() # 미분
        optimizer.step() # 수정
        optimizer.zero_grad() # weight 초기화
        loss_hist_train += loss.item() # 오차 추출 후 누적합
    if epoch % log_epochs==0:
        print(f'에포크 : {epoch}, 손실 : {loss_hist_train/len(train_dl):.4f}')

에포크 : 0, 손실 : 548.2036
에포크 : 10, 손실 : 156.1036
에포크 : 20, 손실 : 76.8417
에포크 : 30, 손실 : 61.5380
에포크 : 40, 손실 : 60.8796
에포크 : 50, 손실 : 58.1859
에포크 : 60, 손실 : 58.6491
에포크 : 70, 손실 : 60.8811
에포크 : 80, 손실 : 57.9561
에포크 : 90, 손실 : 57.3248
에포크 : 100, 손실 : 58.9991
에포크 : 110, 손실 : 57.4789
에포크 : 120, 손실 : 58.9661
에포크 : 130, 손실 : 57.5268
에포크 : 140, 손실 : 57.9724
에포크 : 150, 손실 : 66.5990
에포크 : 160, 손실 : 57.3289
에포크 : 170, 손실 : 63.9346
에포크 : 180, 손실 : 57.4558
에포크 : 190, 손실 : 60.2947

In [ ]:
with torch.no_grad():
    pred = model(x_test.float())[:, 0]
    loss = loss_fn(pred, y_test)
    print(f'테스트 MSE: {loss.item():.4f}')
    print(f'테스트 MAE: {nn.L1Loss()(pred, y_test).item():.4f}')
    print(pred)

테스트 MSE: 69.3450
테스트 MAE: 7.2568

In [84]:
# 테스트데이터로 추론(예측) 

with torch.no_grad():
    pred = model(x_test.float())[:, 0]
    # loss = loss_fn(pred, y_test)
    # print(f'테스트 MSE: {loss.item():.4f}')
    # print(f'테스트 MAE: {nn.L1Loss()(pred, y_test).item():.4f}')
    print(pred)

tensor([23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607,
        23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607,
        23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607,
        23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607,
        23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607,
        23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607,
        23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607,
        23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607,
        23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607,
        23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607, 23.4607])